/* /* .button {
  display: block;
    position: relative;
    width: 176px;
    height: 65px;
    line-height: 60px;
    text-align: center;
    font-size: 25px;
    text-decoration: none;
    text-transform: uppercase;
    color: #f8f9fa;
    margin: 40px 20px;
    font-family: Helvetica, Arial, sans-serif;
    box-sizing: border-box;

}
/* Button Border Style */

/* .button.border {
  border-top: 2.7973px solid #5AB1FF;
  border-bottom: 2.7973px solid #5AB1FF;
}
.button.border:hover {
 
  color: #5AB1FF
}

.button.ribbon-outset.border:after,
.button.ribbon-outset.border:before {
  top: 56%;
    content: " ";
    height: 36px;
    width: 36px;
    position: absolute;
    pointer-events: none;
 
}
.button.ribbon-outset.border:after {
  left: -1px;
  margin-top: -36px;
  transform-origin: 0 0;
  box-sizing: border-box;
  border-bottom: 2.7973px solid #5AB1FF;
  border-left: 2.7973px solid #5AB1FF;
  transform: rotate( 
57deg
) skew( 
26deg
);

}
.button.ribbon-outset.border:before {
  right: -38px;
    margin-top: -37px;
    transform-origin: 0 0;
    box-sizing: border-box;
    border-top: 2.7973px solid #5AB1FF;
    border-right: 2.7973px solid #5AB1FF;
    transform: rotate( 
57deg
 ) skew( 
26deg
 );


}
.button.ribbon-outset.border:hover:after {
 
}
.button.ribbon-outset.border:hover:before {
 
}
@media (max-width: 560px)
{
  .button{
    display: block;
    position: relative;
    width: 176px;
    height: 65px;
    line-height: 60px;
    text-align: center;
    font-size: 25px;
    text-decoration: none;
    text-transform: uppercase;
    color: #f3f5f7;
    margin: 40px 20px;
    font-family: Helvetica, Arial, sans-serif;
    box-sizing: border-box;
  }
}   */