/* General Button Style */




.button {
  position: relative;
  display: block;
  background: transparent;
  width: 169px;
  height: 126px;
  line-height: 57px;
  text-align: center;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 30px;
  left: 83px;
  font-family: Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  margin-bottom: 201px;
}
.button:before,
.button:after {
  position: absolute;
  content: '';
  width: 141px;
  left: 7px;
  height: 21px;
  z-index: -5;
}

.button:before {
  transform: perspective(4px) rotateX(3deg);
}
.button:after {
  top: 28px;
  transform: perspective(4px) rotateX(-3deg);
}

/* Button Border Style */

.button:before,
.button:after {
  background: linear-gradient(
    159.37deg
    , rgba(90, 177, 255, 0.3) -153.34%, rgba(90, 177, 255, 0.3) 53.43%);
        border: 2.7973px solid #5AB1FF;
}
.button:before {
  border-bottom: none; /* to prevent the border-line showing up in the middle of the shape */
}
.button:after {
  border-top: none; /* to prevent the border-line showing up in the middle of the shape */
}

/* Button hover styles */

.button:hover:before,
.button:hover:after {
  background: transparent;
}
.button.border:hover {
  color: rgb(170, 221, 245);
}

@media (max-width: 912px) and (min-width: 561px)
{
  .button{
    position: relative;
    display: block;
    background: transparent;
    width: 169px;
    height: 126px;
    line-height: 57px;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 30px;
    left: 52px;
    font-family: Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    margin-bottom: 201px;
  }
}
@media (max-width: 560px)
{
  .button{
    position: relative;
    display: block;
    background: transparent;
    width: 169px;
    height: 51px;
    line-height: 53px;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 183px;
    left: 48px;
    font-family: Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    margin-bottom: 61px;
  }
}