* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.footer {
  background-color: rgb(6, 11, 21, 0.9);
  display: flex;
  flex-direction: column;
  height: 50vh;
}
.footer .upper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  background-color: rgb(6, 11, 21, 0.9);
}
.footer .lower{
  background-color: rgb(6, 11, 21, 0.9);
}
.footer .upper .left {
  height: 100%;
  width: 25vw;
  /* border: 1px solid red; */
  padding: 20px 40px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer .upper .left .head {
  text-align: center;
  padding: 10px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  /* identical to box height */
  color: red;
  letter-spacing: 0.02em;

}
.footer .upper .left .outer {
  display: flex;
  list-style-type: none;
  flex-direction: column;
  /* text-decoration: none; */
  justify-content: center;
}
.footer .upper .left p{
  font-family: Google Sans Display;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  /* line-height: 33px; */
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;

  color: #ffffff;
}
.footer .upper .left .outer .inner {
  padding: 10px;
  display: flex;
  justify-content: center;
}
.footer .upper .left .outer .inner a {
  font-family: Verdana;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: white;
  text-decoration: none;
}
.footer .upper .left .outer .inner a:hover{
  color:red;
}
.footer .upper .center {
  height: 100%;
  width: 50vw;
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer .upper .center .image img {
  width: 100%;
  height: 82%;
}
.footer .upper .center .moto {
  color: white;
  text-align: center;
}
.footer .upper .right {
  height: 100%;
  width: 25vw;
  /* border: 1px solid red; */
  padding: 20px 40px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer .upper .right .head{
  text-align: center;
  padding: 10px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  /* identical to box height */
  color: red;
  letter-spacing: 0.02em;
}
.footer .upper .right .vertical {
  font-family: Google Sans Display;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 33px;
  /* identical to box height, or 150% */

  letter-spacing: 0.05em;

  color:red;
  /* width: 10px; */
  transform: rotate(-90deg);
  /* offset-rotate: 
            27deg
            ; */
  /* height: 55px; */
  position: absolute;
  left: -85px;
}
.footer .upper .right .outer .inner {
  font-family: Google Sans Display;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 33px;
  /* identical to box height, or 137% */

  display: flex;
  align-items: center;
  letter-spacing: 0.05em;

  color: #ffffff;
}
.footer .upper .right .outer .inner a{
  text-decoration: none;
  color:white;
}
.footer .upper .right .outer .inner a:hover{
  color:red;
}
/* .footer .lower::before{
  content: '';
  position: absolute;
  width: 10px;
  background: rgb(196,196,196);
  top: 15%;
  bottom: 10%;
  left: 50%;
  height:80%;
  margin-left:-1px;
} */
/* .footer .lower::before{
  content: '';
  position: absolute;
  width: 10px;
  background: rgb(196,196,196);
  top: 15%;
  bottom: 10%;
  left: 50%;
  height:80%;
  margin-left:-1px;
} */
.footer .lower{
  height: 10vh;
}
.lower .footer-icons{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 35%;
  margin: auto;
}
@media (max-width: 900px) {
  .footer .upper .right .vertical {
    left: -98px;
  }
  .footer .upper .right {
    padding: 10px 0px;
  }
  .footer .upper .right .outer .inner {
    font-size: 16px;
  }
  .footer .upper  .left .outer .inner a {
    font-size: 14px;
  }
  .footer .upper .left .head {
    padding: 8px;
    font-size: 36px;
  }
}
@media (max-width: 550px) {
  .footer .upper .right .vertical {
    display: none;
  }
  .footer {
    height: 25vh;
  }
  .footer .upper{
    height: 34vh;

  }
  .footer .upper .right{
    display:flex;
    flex-direction: column;
  }
  .footer .upper .right .head{
    color: #ffffff;
  }
  .footer .upper .right .outer .inner {
    line-height: normal;
  }
  .footer .upper .left .outer .inner a {
    line-height: normal;
  }
  .footer .upper .left .outer .inner {
    padding: 6px;
  }
  .footer .upper .left .outer {
    height: 50%;
    display: flex;
    list-style-type: none;
    flex-direction: column;
    align-items: center;
    /* text-decoration: none; */
    justify-content: center;
  }

  .footer .upper .left .head {
    line-height: normal;
    padding: 12px 0px;
    font-size: 18px;
    
  }
  .footer .upper .right {
    padding: 20px 0px;
  }
  .footer .upper .left {
    padding: 0 2px;
    text-align: center;
  }
  .right .upper .head{
    font-size:16px;
    padding: 10px 0;
  }
  .footer .upper .right .outer .inner {
    font-size: 14px;
    padding: 4px 0px;
  }
  .footer .upper .right .head {
    text-align: center;
    padding: 10px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: red;
    letter-spacing: 0.02em;
}
}
