* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.footer {
  background-color: rgb(6, 11, 21, 0.9);
  display: flex;
  flex-direction: column;
  font-family: Poppins;
  letter-spacing: 0.02em;
}

.footer .upper{
  display: flex;
  padding: 30px 50px;
}

.footer .left,
.footer .center,
.footer .right
{
  flex:1;
}

.footer .left, 
.footer .right, 
.footer .outer{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}

.footer .right,
.footer .outer
{
  align-items: flex-end;
}

.footer .left{
  align-items: flex-start;
}


.footer .upper .left .head,
.footer .upper .right .head {
  font-size: 48px;
}

.footer .upper .left .content-footer,
.footer .upper .right .outer{
  width: 85%;
  margin-top: 10px ;
  font-size: 14px;
  line-height: 27px;
  color: #FFFFFF;
}

.footer .upper .center 
{
  /* centering the image inside it */
  display: grid;
  place-items: center; 
}

.footer .upper .center img
{
  width: 90%;
}

.footer .upper .right .head
{
  text-align: right;
}

.footer hr
{
   width: 80%;
   margin: 0 auto;
   background-color: white;
   height: 4px;
   border-radius: 2px;
}


.footer .lower
{
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  position: relative;
}

.footer .lower .footer-icons
{
  display: inline-block;
}

.footer .lower p{
  color: white;
  position: absolute;
  top: 60%;
  transform: translateY(-60%);
  right: 15px;
}


@media only screen and (max-width: 640px)
{
  .footer .upper, 
  .footer .upper .left, 
  .footer .upper .right, 
  .footer .upper .right .outer
  {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer .upper
  {
    gap: 20px;
  }

  .footer .upper .left .content-footer
  {
    text-align: center;
  }

  .footer .upper .center
  {
    display: none;
  }
}

@media only screen and (max-width: 490px)
{
  .footer .lower p
  {
    bottom: 3px;
    left: 50%;
    transform: translate(-50%,60%);
    text-align: center;
    padding: 4px 0;
  }
}

