*
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.opening
{
  height: 100vh;
  background-image: url('../img/valorant.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 40%;
  background-attachment: fixed;
  position: relative;
}

.inner-game-night
{
  width: 95%;
    text-align: center;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-90%);
}

.valorant-heading
{
  font-family: 'Bebas Neue', cursive;
  font-size: 72px;
  color: white;
  letter-spacing: 2.5px;
  transition: all 1.5s ease-in-out;
}

.first-letter
{
  font-family: 'Bebas Neue', cursive;
  font-size: 1em;
  color: red;
}

.game-night-content
{
  font-family: 'Poppins';
  font-weight: 300;
  font-size: 18px;
  text-transform: none;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}