.game-jam
{
    background-image: url(../img/game-jam.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
}

.game-jam-page-view
{
    overflow:hidden
}

.game-jam-image-div
{
    left: 100%;
    transform: translate(-70%);
}

.game-jam-content
{
    margin-left: 0;
    border: 2px solid white;
    padding-right:0; 
    padding-left: 7%;
}