* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.gamenight1 {
  background: url(../img/wallpaperflare\ 1.png) no-repeat
    center center/cover;
  height: 100vh;
  box-shadow: 0 0 200px rgba(0, 0, 0, 0.9) inset;
  position: relative;
  overflow: hidden;
}



.gamenight1 h1 {
  color: #ffffff;
  font-family: Verdana;
  font-size: 30px;
  padding-top: 6vh;
  margin-left: 25%;
  display: inline-block;
}
.gamenight1 .image img{
  top: 17%;
  position: absolute;
  height: 50%;
  width: 50%;
  left: 27%;
}
.gamenight1 .image {
  display: flex;
  height: 70vh;
  justify-content: center;
  margin: auto;
}
#form {
  font-family: Verdana;
  font-size: 30px;
  font-weight: bold;
  color: #ffffff;
  background-color: rgb(49, 21, 21);
  margin-left: 7%;
  padding: 1vh 6.5vh;
  border-radius: 10px 10px 25px 25px;
  border: 1px solid #000000;
  box-shadow: -8px 6px 15px rgb(31, 15, 105), 8px 6px 15px rgb(31, 15, 105);
}

@media only screen and (max-width: 1400px) {
  .gamenight1 h1 {
    margin-left: 35%;
    display: block;
  }
  #form {
    margin-left: 35%;
    margin-top: 4vh;
  }

}
@media only screen and (max-width: 1200px) 
{
  .gamenight1 .image {
    display: flex;
    height: 70vh;
    justify-content: center;
    width: 150%;
    margin: auto;
  }
}
@media only screen and (max-width: 850px) {
  .gamenight1 h1 {
    margin-left: 25%;
    display: block;
  }
  #form {
    margin-left: 25%;
    margin-top: 4vh;
  }
}

@media only screen and (max-width: 600px) {
  .gamenight1 h1 {
    margin-left: 15%;
    display: block;
  }
  #form {
    margin-left: 15%;
    margin-top: 4vh;
  }
}
