.game-jam
{
    background-image: url(../img/game-jam-min.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-attachment: fixed;
    min-height: 100vh;
}

.game-jam-page-view
{
    overflow:hidden;
    justify-content: flex-start;
    flex-direction: row-reverse;
}

.game-jam-content
{
    margin: 0;
    padding:0; 
    padding-left: 10%;
}

.game-jam-info
{
    padding-right: 0;
}

@media only screen and (max-width: 780px)
{
    .game-jam-content
    {
        padding-left: 0;
        margin:auto;
    }
    .game-jam-info
    {
        padding: 0;
        padding: 10px 7%;
    }
}

