@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins&display=swap');

html
{
  font-size: 10px;
}

.game-night
{
  background-image: url(../img/valorant.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}

.game-night-inner
{
  border: 2px solid white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 90px;
  width: 45%;
}

.valorant-heading
{
  font-size: 6rem;
}

.valorant-content
{
  
  font-family: 'Poppins', sans-serif;
}



