.game-jam
{
    background-image: url(../img/game-jam-min.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-attachment: fixed;
}

.game-jam-page-view
{
    overflow:hidden
}

.game-jam-page-view .image
{
    left: 47%;
}

.game-jam-content
{
    margin-left: 0;
    padding-right:0; 
    padding-left: 7%;
}