* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html{
  background:black;
}
.home1 {
  /* background-color: rgb(222, 30, 44); */
  height: 100vh;
overflow: hidden;
  /* box-shadow: 0 0 200px rgba(0, 0, 0, 0.9) inset; */
  background: url(../img/image\ 11.png) no-repeat center center/cover;
  position: relative;
  background-attachment: fixed;
  /* -------- */
  display: flex;
  width: 100%;
  z-index: 0;
}
.home1 .left {
  position: relative;
  z-index: -2;

  width: 50%;
}
.home1 .left .horizonlogo {
  height: 40vh;
  padding-left: 6%;
  display: flex;
  align-items: end;
}

.home1 .left .container {
  margin-right: 10%;
  height: 60vh;
  width: 100%;
  border-radius: 15px;
}
.home1 .left .container .content {
  font-family: Poppins;
  padding-left: 6%;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.02em;

  color: #ffffff;
}
.home1 .right {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110%;
  transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
}
.home1 .right .img1 {
  height: 110%;
  z-index: -1;
  transition: all 0.4s ease-in-out;
}
.home1 .right .img2 {
  position: absolute;
  height: 22%;
  right: 8%;
  bottom: 4%;
}
.home1::after{
  content: "";
  position: absolute;
  height: 3px;
  width:55%;
 background-color: white;
 bottom: 0;
}
@media only screen and (max-width: 2200px) {
  .home1 .right .img1 {
    bottom: 8%;
    height: 70%;
  }
  .home1 .right .img2 {
    position: absolute;
    height: 18%;
    right: 6%;
    bottom: 4%;
  }
}
@media only screen and (max-width: 1150px) {
  /* .home1 .right .img1 {
    bottom: 8%;
    height: 60%;
    width: 50%;
  } */
  .home1 .right .img1 {
    height: 50%;
  }
  .home1 .left img {
    height: 25%;
  }
  .home1{
    height: 70vh;
    justify-content: space-around;
  }
  .home1 .left .container .content {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;

    color: #ffffff;
    justify-content: center;
    /* padding: 0% 10%; */
    /* width: 60%;
    display: flex;
    margin: 0 10%;
    height: 100%;
    align-items: center; */
  }
  .home1 .left .horizonlogo {
    height: 35vh;}
}
@media only screen and (max-width: 1150px) {
}
@media only screen and (max-width: 850px) {
  .home1 .left .container .content {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.02em;

    color: #ffffff;
  }
  .home1 .left img {
    height: 20%;
  }
  .home1 .left .horizonlogo {
    height: 30vh;}
  .home1{
    height: 70vh;
  }
  .home1 .right .img1 {
    bottom: 8%;
    height: 50%;
  }
  .home1 .right .img2 {
    position: absolute;
    height: 12%;
    right: 3%;
    bottom: 6%;
  }
  .home1 .left .container .content {
    height: 25vh;
  }
}
@media only screen and (max-width: 560px) {
  .home1 {
    display: block;
  }
  .home1 .left .container .content {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.02em;

    color: #ffffff;
  }
  .home1 .left {
    width: 95%;
  }
  .home1 .right {
    height: 50vh;
  }
  .home1 .right .img1 {
    height: 80%;
  }
  .home1 .left .horizonlogo {
    height: 25vh;
  }
  .home1 .left .horizonlogo img{
    height: 40%;
  }
  .home1 .left .container {
    height: 25vh;
  }
  .home1{
    height: 100vh;
  }
}
@media only screen and (max-width: 350px) {
  .home1 .left .container .content {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.02em;

    color: #ffffff;
  }
}
.home2 {
  height: 80vh;
  display: flex;
  align-items: center;
  background: url(../img/image\ 11.png) no-repeat center center/cover;
  position: relative;
  background-attachment: fixed;
}

.home3 {
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../img/image\ 11.png) no-repeat center center/cover;
  position: relative;
  background-attachment: fixed;
}
.home3 .container {
  position: relative;
  height: fit-content;
  width: 80%;
  margin: auto;
  border-radius: 15px;
}
.home3 .container .head {
  padding: 20px;
  margin-top: 10%;
  color: hsl(0, 0%, 95%);
  font-size: 30px;
  text-align: center;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.home3 .container .rectangle {
  left: 50%;
  right: 50%;
  height: 70%;
  position: absolute;
}
/* .home3 .container .left {
  width: 50%;
  height:25%;
  display: flex;
  justify-content: end;
}
.home3 .container .right {
  width: 50%;
  height:25%;
  display: flex;
  justify-content: end;
}
.container::after {
  content: '';
  position: absolute;
  width: 10px;
  background: rgb(196,196,196);
  top: 15%;
  bottom: 10%;
  left: 50%;
  height:80%;
  margin-left:-1px;
} */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.timeline {
  position: relative;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 15px 0;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 10px;
  background: rgb(196, 196, 196);
  top: 5%;
  bottom: 5%;
  left: 50%;
  height: 90%;
  margin-left: -1px;
}

.contain {
  padding: 15px 30px;
  position: relative;
  width: 50%;
}

.contain.left {
  left: 0;
  margin-top: 50px;
}

.contain.right {
  left: 50%;
  margin-top: 50px;
  margin-bottom: 10px;
}

.contain::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 26px;
  top: calc(50% - 8px);
  right: -8px;
  background: #ffffff;
  border: 2px solid #006e51;
  border-radius: 16px;
  z-index: 1;
}

.contain.right::after {
  left: -8px;
}

.contain::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 10px;
  top: calc(50% - 1px);
  right: 8px;
  background: rgb(196, 196, 196);
  z-index: 1;
}

.contain.right::before {
  left: 8px;
}

.contain .date {
  position: absolute;
  display: inline-block;
  top: calc(50% - 8px);
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #006e51;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 1;
}

.contain.left .date {
  right: -8px;
  top: 40px;
}
.contain.left .date img {
  position: absolute;
  left: 0;
  top: 57px;
}

.contain.right .date {
  left: -304px;
  top: -20px;
}

/* .contain .icon {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 9px 0;
  top: calc(50% - 20px);
  background: #F6D155;
  border: 2px solid #006E51;
  border-radius: 40px;
  text-align: center;
  font-size: 18px;
  color: #006E51;
  z-index: 1;
} */

.contain.left .icon {
  right: 56px;
}

.contain.right .icon {
  left: 56px;
}

.contain .content {
  padding: 80px 50px;
  background: rgb(196, 196, 196);
  position: relative;
  border-radius: 10px;
  display: flex;
    flex-direction: column;
    height:fit-content;
}

.contain.right .content {
  padding: 80px 50px;
  border-radius: 10px;
}

.contain .content h2 {
  margin: 0 0 10px 0;
  font-size: 18px;
  font-weight: normal;
  color: #006e51;
}

.contain .content p {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}

@media (max-width: 767.98px) {
  .timeline::after {
    left: 90px;
  }
  .home3 .container .head {
    font-size: 20px;
  }
  .contain {
    width: 100%;
    padding-left: 120px;
    padding-right: 30px;
  }

  .contain.right {
    left: 0%;
  }

  .contain.left .date img {
    display: none;
  }
  .contain.right .date img {
    display: none;
  }

  .contain.left::after,
  .contain.right::after {
    left: 82px;
  }

  .contain.left::before,
  .contain.right::before {
    left: 100px;
    border-color: transparent #006e51 transparent transparent;
  }

  .contain.left .date,
  .contain.right .date {
    right: auto;
    left: 15px;
  }

  .contain.left .icon,
  .contain.right .icon {
    right: auto;
    left: 146px;
  }

  .contain.left .content,
  .contain.right .content {
    height: fit-content;
    padding: 18px;
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 300.98px){
  .contain .content{
    width: 170%;
  }
  .contain .content h2{
    font-size: 16px;
  }
  .contain .content p{
    font-size:14px;
  }
}
.home4 {
  height: fit-content;
  background: url(../img/image\ 11.png) no-repeat center center/cover;
  position: relative;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home4 .container {
  position: relative;
  height: fit-content;
  width: 80%;
  margin: auto;
  border-radius: 15px;
}
.home4 .container .head {
  padding: 0px;
  color: #f2f2f2;
  font-size: 40px;
  text-align: center;
  margin-top: 10px;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* .home4 .container img {
  left: 50%;
  right: 50%;
  height: 70%;
  position: absolute;
} */
.home5 {
  /* background-color: rgb(222, 30, 44); */
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../img/image\ 11.png) no-repeat center center/cover;
  position: relative;
  background-attachment: fixed;
}
/* .swiper{
  height: 0vh;
} */
/* .home5 .container {
  height: 80%;
  width: 80%;
  margin: auto;
  background-color: rgb(56, 8, 11);
  border-radius: 15px;
}
.home5 .container .head {
  padding: 30px;
  color: #f2f2f2;
  font-size: 40px;
  text-align: center;
  margin-top: 10px;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.home5 .container .cards {
  display: flex;
  height: 60%;
  justify-content: center;
}
.home5 .container .cards .card {
  background: rgb(196, 196, 196);
  border-radius: 1rem;
  padding: 1.5rem;
  box-shadow: 3px 3px 12px 2px rgba(black, 0.6);
  transition: 0.2s;
  border: 2px solid black;
  background-color: rgb(196, 196, 196);
}
.home5 .container .cards .card:not(:first-child) {
  margin-left: -2rem;
}
.home5 .container .cards .card:hover {
  transform: translateY(-1rem);
} */
.sponsors-container {
  margin: 0 auto;
  width: 68vw;
  /* background: radial-gradient(circle, #050606, rgb(70, 1, 1)); */
  border-radius: 10px;
  padding:20px;
}

.sponsors-container h1 {
  color: #f2f2f2;
  font-size: 50px;
  text-align: center;
  padding: 45px;
  margin-top: 10px;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  border: 1px solid rgb(90, 88, 88);
  background-color: #b9b6b6;
  height: 60vh !important;
  width: 20vw !important;
  margin-top: 2em;
  box-shadow: 0px 0px 20px #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide-active {
  transform: scale(1.23);
  transition: transform 0.4s;
}

/*Media Queries*/

/* Small devices (landscape phones, 576px and up) */
@media screen and (max-width: 480px) {
  .sponsors-container {
    width: 100vw;
  }
  .swiper-slide {
    width: 40vw !important;
    height: 40vh !important;
  }
  .sponsors-container h1 {
    font-size: 30px;
  }
}
@media screen and (max-width: 350px) {
  .home2{

  }
  .sponsors-container {
    width: 100vw;
  }
  .swiper-slide {
    width: 30vw;
    height: 30vh ;
  }
  .sponsors-container h1 {
    font-size: 30px;
  }
}

.swiper{
  height: 50vh;
}

/* Medium devices (tablets, 768px ) */

@media screen and (max-width: 908px) {
  .sponsors-container {
    /* width: 80vw; */
  }
  .home2{
    height:70vh;
  }
  .swiper-slide {
    width: 30vw ;
    height: 30vh;
  }
  .sponsors-container h1 {
    padding: 20px;
    color: #f2f2f2;
    text-align: center;
    margin-top: 10px;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.swiper{
  height: 40vh;
}
.sponsors-container{
  width:90vw;
}
}

.page.is-active {
  display: block;
}
.page {
  display: none;
}
