html{
  font-size: 10px;
}

*{
  box-sizing:border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.glass {
  position: absolute; 
  padding: 50px;
background: rgba(196, 196, 196, 0.1);
box-shadow: inset 63.1333px -63.1333px 63.1333px rgba(149, 149, 149, 0.1 ),inset -63.1333px 63.1333px 63.1333px rgba(255, 255, 255, 0.1);
backdrop-filter: blur( 59.27px );
-webkit-backdrop-filter: blur( 59.27px );
  color: rgb(255, 254, 254);
  left: 0;
  right: 0;
  top: 0vh;
  bottom: 0vh;
  z-index: 1;
  border-radius: 47px;
}
.com_soon{
  position: absolute;
  top: 40%;
  left: 30vw;
  font-size: 4rem;
}


.table{
  margin-top: 5%;
  position:relative;
    display:flex;
    flex-direction:column;
    flex-wrap:nowrap;
    border-radius: 47px;
    overflow-y: auto;
    max-height: 60vh;
   padding-bottom: 10vh;
  }
  .row{
    display:flex;
    flex-wrap:nowrap;
    flex-direction:row;
    justify-content:space-around;
 
  }
          .row:nth-child(odd) {
              background-color: #A10000;
              opacity:.8;
          }
          /* .row:nth-child(even){
              background-color: #ffffff;
            
              } */
  
  .leaderboard{
    background-image: url(../img/Group43.png);
     background-repeat: no-repeat;
     background-color: black;
      background-size: cover;
      background-attachment: fixed;
      min-height: 100vh;
      
    }
    .rowitem,#tabhead,#tabhead2{
        color:#ffffff;

    }
    .rowitem{
  font-size:20px;

}

#tabhead{
  padding-top: 10vh; 
  font-size: 4rem;
}


.size{
    max-width: 80%;
    margin-left:auto;
    margin-right: auto;
}


/* .glass {
  pointer-events: none;
   position: relative;
   box-shadow: 0 25px 50px rgba(0,0,0, 0.2);
  backdrop-filter:blur(15px);
  background:transparent;
  width: 90%;

  } */

@media only screen and (max-width:550px){
    #num{
      display:none;
    }
  .com_soon{
    position: absolute;
    top: 40%;
    left: 20%;
    font-size: 3rem;
  }
  .rowitem{
    font-size: 2rem;
    padding-left: 6%;
  }

  }
   
          