html{
  font-size: 10px;
}

*{
  box-sizing:border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.xbox{
    display:flex;
    justify-content:space-around;
    color: white;
    margin-top: 2%;
    flex-wrap: wrap;
  }
  .powers{
   background-image: url("../img/background_powers.png");
   background-repeat: no-repeat;
   background-color: black;
    background-size: cover;
    padding: 3% 0;
  }
  .xitem1 .inner{
    width: 90%;
    margin: auto;
    font-size: 14px;    text-align: center;
  }
  .xitem2 .inner{
    width: 90%;
    margin: auto;
    font-size: 14px;    text-align: center;
  }
  .xitem3 .inner{
    width: 90%;
    margin: auto;
    font-size: 14px;
    text-align: center;
  }
  .xitem1,.xitem2,.xitem3{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
  }
  #xhead{
    text-align: center;
    color: white;
    font-size: 4rem;
    padding-top: 7%;
  }
  @media only screen  and (max-width:430px){
    .xbox{
    display:flex;
    flex-direction: column;
    justify-content:space-around;
    margin-top:10%;
    }
    .xitem1,.xitem2,.xitem3{
      position: relative;
      margin:auto;
      margin-top:10%;
    }

    
  }

  .hoverinfo1{
    display:none;
    position: absolute; 
    padding: 50px;
    background: rgba(196, 196, 196, 0.1);
    box-shadow: inset 63.1333px -63.1333px 63.1333px rgba(149, 149, 149, 0.1 ),inset -63.1333px 63.1333px 63.1333px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur( 59.27px );
   -webkit-backdrop-filter: blur(57.7px);
  color: rgb(255, 254, 254);
  top: 70vh;
  left:8vw;
  max-width: 15vw;
  z-index: 1;
  border-radius: 47px;
  text-align:center;
  overflow:hidden;
  }
  .hoverinfo2{
    display:none;
    position: absolute; 
    padding: 50px;
    background: rgba(196, 196, 196, 0.1);
    box-shadow: inset 63.1333px -63.1333px 63.1333px rgba(149, 149, 149, 0.1 ),inset -63.1333px 63.1333px 63.1333px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur( 59.27px );
   -webkit-backdrop-filter: blur(57.7px);
  color: rgb(255, 254, 254);
  top: 70vh;
  left:42vw;
  max-width: 15vw;
  z-index: 1;
  border-radius: 47px;
  text-align:center;
  overflow:hidden;
}
  
  .hoverinfo3{
    display:none;
    position: absolute; 
    padding: 50px;
    background: rgba(196, 196, 196, 0.1);
    box-shadow: inset 63.1333px -63.1333px 63.1333px rgba(149, 149, 149, 0.1 ),inset -63.1333px 63.1333px 63.1333px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur( 59.27px );
   -webkit-backdrop-filter: blur(57.7px);
  color: rgb(255, 254, 254);
  top: 70vh;
  left:76vw;
  max-width: 15vw;
  z-index: 1;
  border-radius: 47px;
  text-align:center;
  font-size: 1rem;
  overflow:hidden;
  }

  .hoverimg1:hover + .hoverinfo1{
    display:block
  }

  .hoverimg2:hover + .hoverinfo2{
    display:block
  }
  .hoverimg3:hover + .hoverinfo3{
    display:block
  }

  .xitem1 h3{
    font-size: 2rem;
    padding: 20px;
  }

  .xitem2 h3{
    font-size: 2rem;    padding: 20px;
  }

  .xitem3 h3{
    font-size: 2rem;    padding: 20px;
  }
  