.grow {
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
    height: 49px;
    width: 90%;
    margin: 5px 1% 5px 1%;
    float: left;
    position: relative;
    transition: height 0.5s;
    -webkit-transition: height 0.5s;
    text-align: center;
    overflow: hidden;
    transition: 1.0s;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 20px;
  }
  .grow:hover {
    height: 145px;
    width: 90vw;
    align-items: center;
  }
  .ff{
      display:flex;
      flex-direction: column;
      align-items: center;
  }