.rules-regulation
{
    background-image: url(../img/rules-regulation-wallpaper.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.head, .ru{
 
    font-family: 'Bebas Neue', cursive; 
    letter-spacing: 0.02em;
    color: #ffffff;
    text-transform: uppercase;
}

.ru{

    color:red;
}

.bodyrules{
    font-size: 19px;
    color: #ffffff;
    padding-bottom: 100%;
}

.rules-heading
{
    height: 92px;
    left: 391px;
    top: 188px;
    font-size: 47px;
    width: 100%;
}



.rules{
    height: 100%;
padding: auto;

text-align: center;
width:100%;
padding-top: 79px;
    
}

@media (max-width: 560px)
{
   .head{
 
    height: 116px;
    left: 317px;
    top: 183px;
    width: 200px;
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 35px;
    letter-spacing: 0.02em;
    color: rgb(250, 253, 250);
    text-align: center;
    padding-bottom: 33px;
    padding-left: 53px;
}

.bodyrules {
    font-size: 15px;
    color: #ffffff;
    width: 94%;
}
}
