.rules-regulation
{
    background-image: url(../img/rules-regulation-wallpaper.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    min-height: 100vh;
}

.head, .ru{
 
    font-family: 'Bebas Neue', cursive; 
    letter-spacing: 2px;
    color: #ffffff;
    text-transform: uppercase;
}

.ru{
    font-size: 1em;
    color:red;
}

.rules-content
{
  padding: 15vh 0 5vh 0; 
}

.rules-heading
{
    font-size: 47px;
    text-align-last: center;
    margin-bottom: 5vh; 
}

.rules-body
{
    padding: 0 10%;
}

.rule-each-point
{
    display: flex;
    gap: 25px;
    margin-top:25px;
}


.spidey-pointer
{
    height: 75px;
    aspect-ratio: 1/1;
}

.pointer-img
{
    height: 100%;
}

.rule-info
{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    text-align: justify;
}




