* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.gamenight1 {
  background-color: rgb(222, 30, 44);
  height: 100vh;
  box-shadow: 0 0 200px rgba(0, 0, 0, 0.9) inset;
}

.image img {
  margin-left: 38vh;
  width: 130vh;
  height: 70vh;
  margin-top: 8vh;
  border-radius: 40px;
  background: radial-gradient(circle, #050606, rgb(70, 1, 1));
  background-repeat: no-repeat;
  opacity: 0.7;
}

.register h1 {
  color: #ffffff;
  font-size: 40px;
  padding-left: 50vh;
  padding-top: 4vh;
  display: inline-block;
}

#register {
  font-size: 30px;
  font-weight: bold;
  color: #ffffff;
  background-color: rgb(49, 21, 21);
  margin-left: 20vh;
  padding: 1vh 6.5vh;
  border-radius: 10px 10px 25px 25px;
  border: 1px solid #000000;
  box-shadow: -8px 6px 15px rgb(31, 15, 105), 8px 6px 15px rgb(31, 15, 105);
}
