* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.hackathon1 {
  height: 100vh;
  background: radial-gradient(rgb(222, 30, 44), rgb(39, 51, 123));
}
.hackathon2 {
  height: 100vh;
  background: radial-gradient(rgb(222, 30, 44), rgb(39, 51, 123));
}
.hackathon3 {
  height: 100vh;
  background: radial-gradient(rgb(222, 30, 44), rgb(39, 51, 123));
}

/* Newly added Styles */

/* Atharva */

.side-bar {
  position: fixed;
  width: 6%;
  height: 37%;
  left: 0;
  bottom: 50%;
  transform: translateY(+50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  background: #b11313;
  border-radius: 0px 30px 30px 0px;
}

.side-bar-items
{
  color: black;
  font-size: 5rem;
  text-align: center;
  padding: 20px 5px 20px 2px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;

  
}

.side-bar-items:hover
{
  color: white;
  border-left: 0.8rem solid white;

}


.message-box {
  position: relative;
  top: 15%;
  left: 8%;
  width: 90%;
  min-height: 70%;

  background: rgba(6, 5, 5, 0.75);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.message-box-title {
  text-align: center;
  padding: 15px;
  font-family: Verdana;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  align-items: center;
  letter-spacing: 0.05em;
  color: #ffffff;
}

@media only screen and (max-width: 1100px) {
  .side-bar {
    width: 10%;
    height: 35%;
    
  }
  /* .side-bar-items{
    border-left: 5rem;
    font-size: 5rem;
  } */

  .message-box {
    top: 15%;
    left: 14%;
    width: 81%;
    min-height: 80%;
  }
}

@media only screen and (max-width: 650px) {
  .side-bar {
    /* font-size: 10px;
    position: fixed;
    width: 100rem;
    height: 8%;
    z-index: 99;
    bottom: 100%;
    left: 50%;
    align-items: center;
    justify-content: center;

    border-radius: 0; */
    display: none;
  }
  .side-bar-items{
    font-size: 20px;
    padding: 4%;
  }

  .message-box {
    top: 15%;
    left: 0;
    margin: auto;
    width: 85%;
    min-height: 75%;
  }

}

/* Kingshuk */

/* Niharika */

.message-box1 {
    position: relative;
    top: 15%;
    left: 8%;
    width: 77%;
    min-height: 70%;
  
    background: rgba(6, 5, 5, 0.75);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
  }
 @media only screen and (max-width: 1100px) {
  
  
  
    .message-box1 {
      top: 15%;
      left: 14%;
      width: 81%;
      min-height: 80%;
    }
   

    .register{
      position: absolute;
      width: 60px;
    height: 199px;
    left: 99px;
    top: 377px;
     
      background: #DF1F2D;
      box-shadow: -3px 14px 9px rgb(45 56 156 / 70%), -2px -15px 9px rgb(45 56 156 / 70%);
      border-radius: 30px 10px 10px 30px;
      transform: rotate(
  270deg
  );
  }

  }

  @media only screen and (max-width: 650px) {


    .content{
      display: flex;
      flex-direction: row-reverse;
      height: 420px;
    }
    .message-box1 {
        top: 15%;
        left: 0;
        margin: auto;
        width: 85%;
        min-height: 75%;
      }

     

    .register{
    position: absolute;
    width: 60px;
    height: 200px;
    left: 99px;
    top: 355px;
    background: #DF1F2D;
    box-shadow: -3px 14px 9px rgb(45 56 156 / 70%), -2px -15px 9px rgb(45 56 156 / 70%);
    border-radius: 30px 10px 10px 30px;
    transform: rotate(
270deg
);

}
    

  }

  .register{
    width: 60px;
    height: 199px;
    left: 99px;
    top: 338px;
    background: #DF1F2D;
    box-shadow: -3px 14px 9px rgb(45 56 156 / 70%), -2px -15px 9px rgb(45 56 156 / 70%);
    border-radius: 30px 10px 10px 30px;
    transform: rotate( 
270deg
 );
    position: absolute;

}
.register_text {
    text-align: center;
    padding: 28px;
    font-family: Verdana;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    align-items: center;
    letter-spacing: 0.05em;
    color: #ffffff;
    transform: rotate(
        90deg
        );
        width: max-content;
        padding-top: 152px;
}

.avatar {

	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
  padding:0px;
}
@keyframes float {
	0% {
		
		transform: translatey(0px);
	}
	50% {
		
		transform: translatey(-20px);
	}
	100% {
		
		transform: translatey(0px);
	}
}

.content{
  display: flex;
  flex-direction: row-reverse;
  height: 420px;
}




.spider {
  width: 289.24px;
  height: 606px;
  left: -194px;
  top: -91px;
  transform: translateX(45px);
  position: absolute;
}

@media (max-width:1000px)
{
  .spider{
    width: 223.24px;
    height: 605px;
    left: -218px;
    top: -91px;
    transform: translateX(45px);

}
.body{
  padding-left: 10px;
  width:665px;
}
.content{
  display: flex;
  flex-direction: row-reverse;
  height: 420px;
}
}
@media (max-width: 586px){
.spider {
    width: 203.24px;
    height: 546px;
    left: -186px;
    top: -91px;
    transform: translateX(32px);
}}


  .body{
    padding-left: 10px;
    width:759px;
  }
