*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.hackathon1{

    height: 100vh;
  background: radial-gradient(rgb(222,30,44), rgb(39,51,123) );
}
.hackathon2{

    height: 100vh;
    background: radial-gradient(rgb(222,30,44), rgb(39,51,123) );
}
.hackathon3{


    height: 100vh;
    background: radial-gradient(rgb(222,30,44), rgb(39,51,123) );
}