* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.home1 {
  background-color: rgb(222, 30, 44);
  height: 100vh;
  box-shadow: 0 0 200px rgba(0, 0, 0, 0.9) inset;

  /* -------- */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.home1 .left {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 70%;
}
.home1 .left .container {
  margin-right: 10%;
  height: 100%;
  width: 100%;
  background-color: rgb(56, 8, 11);
  border-radius: 15px;
}
.home1 .left .container .content {
  font-family: Verdana;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 44px;
  letter-spacing: 0.02em;

  color: #ffffff;
  justify-content: center;
  /* padding: 0% 10%; */
  width: 70%;
  display: flex;
  margin: 0 10%;
  height: 100%;
  align-items: center;
}
.home1 .right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home1 .right .img1 {
  position: absolute;
  height: 80%;
  right: 3%;
}
.home1 .right .img2 {
  position: absolute;
  height: 22%;
  right: 8%;
  bottom: 4%;
}
@media only screen and (max-width: 2000px) {
  .home1 .right .img1 {
    bottom: 8%;
    height: 70%;
  }
  .home1 .right .img2 {
    position: absolute;
    height: 18%;
    right: 6%;
    bottom: 4%;
  }
}
@media only screen and (max-width: 1150px) {
  .home1 .right .img1 {
    bottom: 8%;
    height: 60%;
    width: 50%;
  }
  .home1 .right .img2 {
    position: absolute;
    height: 15%;
    right: 8%;
    bottom: 4%;
  }
  .home1 .left .container .content {
    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 37px;
    letter-spacing: 0.02em;
    color: #ffffff;
    justify-content: center;
    /* padding: 0% 10%; */
    width: 60%;
    display: flex;
    margin: 0 10%;
    height: 100%;
    align-items: center;
  }
}
@media only screen and (max-width: 1150px) {
  .home1 .left .container .content {
    line-height: 27px;
  }
}
@media only screen and (max-width: 750px) {
  .home1 .left .container .content {
    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 17px;
    /* letter-spacing: 0.02em; */
    color: #ffffff;
    justify-content: center;
    /* padding: 0% 10%; */
    width: 70%;
    display: flex;
    margin: 0 10%;
    height: 100%;
    align-items: center;
  }
  .home1 .right .img2 {
    position: absolute;
    height: 12%;
    right: 3%;
    bottom: 6%;
  }
}
@media only screen and (max-width: 350px) {
  .home1 .left .container .content {
    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    /* letter-spacing: 0.02em; */
    color: #ffffff;
    justify-content: center;
    /* padding: 0% 10%; */
    width: 70%;
    display: flex;
    margin: 0 10%;
    height: 100%;
    align-items: center;
  }
}
.home2 {
  background-color: rgb(222, 30, 44);
  height: 100vh;
  box-shadow: 0 0 200px rgba(0, 0, 0, 0.9) inset;
  display: flex;
  align-items: center;
}
.home3 {
  background-color: rgb(222, 30, 44);
  height: 160vh;
  box-shadow: 0 0 200px rgba(0, 0, 0, 0.9) inset;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home3 .container {
  position: relative;
  height: 80%;
  width: 80%;
  margin: auto;
  background-color: rgb(56, 8, 11);
  border-radius: 15px;
}
.home3 .container .head {
  padding: 30px;
  color: #f2f2f2;
  font-size: 40px;
  text-align: center;
  margin-top: 10px;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.home3 .container .rectangle {
  left: 50%;
  right: 50%;
  height: 70%;
  position: absolute;
}
.home3 .container .left {
  width: 50%;
  /* right: 1px; */
  display: flex;
  justify-content: end;
}
.home4 {
  background-color: rgb(222, 30, 44);
  height: 160vh;
  box-shadow: 0 0 200px rgba(0, 0, 0, 0.9) inset;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home4 .container {
  position: relative;
  height: 80%;
  width: 80%;
  margin: auto;
  background-color: rgb(56, 8, 11);
  border-radius: 15px;
}
.home4 .container .head {
  padding: 30px;
  color: #f2f2f2;
  font-size: 40px;
  text-align: center;
  margin-top: 10px;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.home4 .container img {
  left: 50%;
  right: 50%;
  height: 70%;
  position: absolute;
}
.home5 {
  background-color: rgb(222, 30, 44);
  height: 100vh;
  box-shadow: 0 0 200px rgba(0, 0, 0, 0.9) inset;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .home5 .container {
  height: 80%;
  width: 80%;
  margin: auto;
  background-color: rgb(56, 8, 11);
  border-radius: 15px;
}
.home5 .container .head {
  padding: 30px;
  color: #f2f2f2;
  font-size: 40px;
  text-align: center;
  margin-top: 10px;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.home5 .container .cards {
  display: flex;
  height: 60%;
  justify-content: center;
}
.home5 .container .cards .card {
  background: rgb(196, 196, 196);
  border-radius: 1rem;
  padding: 1.5rem;
  box-shadow: 3px 3px 12px 2px rgba(black, 0.6);
  transition: 0.2s;
  border: 2px solid black;
  background-color: rgb(196, 196, 196);
}
.home5 .container .cards .card:not(:first-child) {
  margin-left: -2rem;
}
.home5 .container .cards .card:hover {
  transform: translateY(-1rem);
} */
.sponsors-container {
  margin: auto;
  width: 68vw;
  height: 80vh;
  background: radial-gradient(circle, #050606, rgb(70, 1, 1));
  border-radius: 10px;
}

.sponsors-container h1 {
  color: #f2f2f2;
  font-size: 40px;
  text-align: center;
  padding: 20px;
  margin-top: 10px;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}



.swiper-slide {
  text-align: center;
  font-size: 18px;
  border: 1px solid rgb(90, 88, 88);
  background-color:#b9b6b6;
  height: 60vh !important;
  width: 20vw !important;
  margin-top: 2em;
  box-shadow: 0px 0px 20px #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide-active {
  transform: scale(1.23);
  transition: transform 0.4s;
}

/*Media Queries*/

/* Small devices (landscape phones, 576px and up) */
@media screen and (max-width: 480px) {
  .sponsors-container{
    width: 80vw;
    height: 60vh;
    margin-top:20vh;
  }
  .swiper-slide {
    width: 40vw !important;
    height:40vh !important;
  }
  .sponsors-container h1{
    font-size: 20px;
  }
}

/* Medium devices (tablets, 768px ) */

@media screen and (max-width: 768px) {
  .sponsors-container{
    width: 80vw;
    height: 60vh;
    margin-top:20vh;
  }
  .swiper-slide {
    width: 40vw !important;
    height:40vh !important;
  }
  .sponsors-container h1{
    font-size:30px;
  }
}
  
.page.is-active {
  display: block;
}
.page {
  display: none;
}
