*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.home1{
    background-color:rgb(222,30,44);
    height: 100vh;
  box-shadow: 0 0 200px rgba(0,0,0,0.9) inset;
}
.home2{
    background-color:rgb(222,30,44);
    height: 100vh;
  box-shadow: 0 0 200px rgba(0,0,0,0.9) inset;
}
.home3{
    background-color:rgb(222,30,44);
    height: 130vh;
  box-shadow: 0 0 200px rgba(0,0,0,0.9) inset;
}
.home4{
    background-color:rgb(222,30,44);
    height: 130vh;
  box-shadow: 0 0 200px rgba(0,0,0,0.9) inset;
}
.home5{
    background-color:rgb(222,30,44);
    height: 130vh;
  box-shadow: 0 0 200px rgba(0,0,0,0.9) inset;
}
.page.is-active{
    display:block;
}
.page{
    display:none;
}