*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;

}
.navbar ul{
    display: flex;
    list-style-type: none;
    border-radius: 10px;
    background-color: rgb(56,8,11);
}
.tab a[data-switcher]
{
padding: 15px 30px;
text-decoration: none;
color: white;
/* background-color: rgb(56,8,11); */
cursor: pointer;
font-family: Verdana;
font-style: normal;
font-weight: normal;

font-size: 35px;
line-height: 55px;
/* identical to box height */

letter-spacing: 0.03em;

color: #FFFFFF;
}
.outer{
    
    /* border: 10px solid white; */
    border-radius: 2px;
}
.tab a{
    
}
.tab:hover a[data-switcher]
{
    border-bottom: 3px solid #C4C4C4;
}
.tab.is-active a[data-switcher]
{
    border-bottom: 3px solid #C4C4C4;
}