* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  /* added by kingshuk  */
  width: 95%;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  /* END OF edit by kingshuk */
}
.navbar ul {
    display: flex;
    list-style-type: none;
    /* added by kingshuk  */
    padding: 0 50px; 
  border-radius: 0px 0px 20px 20px;
  background-color: rgb(56, 8, 11);
}

.tab a[data-switcher] {
  padding: 15px 30px;
  text-decoration: none;
  color: white;
  /* background-color: rgb(56,8,11); */
  cursor: pointer;
  font-family: Verdana;
  font-style: normal;
  font-weight: normal;

  font-size: 35px;
  line-height: 55px;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: #ffffff;
}

.tab a {
}
.tab:hover a[data-switcher] {
  border-bottom: 3px solid #c4c4c4;
}
.tab.is-active a[data-switcher] {
  border-bottom: 3px solid #c4c4c4;
}


@media  only screen and (max-width: 1150px) 
{
    .tab a[data-switcher]
    {
        font-size: 30px;
    }
}

@media  only screen and (max-width: 1000px) 
{
    /* navbar becomes into hamburger */
}


